<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--link rel="stylesheet" href="{{ (resources.Get "style.css" | resources.PostCSS | minify | fingerprint).Permalink }}"-->
    <!--link rel="stylesheet" href="{{ (resources.Get "style.css" | fingerprint | resources.PostCSS).Permalink }}"-->


    {{ $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
    {{ if .Site.IsServer }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ else }}
        {% comment %} {{ $styles := $styles| minify | fingerprint | resources.PostProcess }} {% endcomment %}
        {{ $styles := $styles| fingerprint | resources.PostProcess }}
        <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
    {{ end }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Page.Title }}</title>
    {{- partial "twitter_card.html" . -}}
<!--    <link href="{{ .Site.BaseURL }}css/pc.css" rel="stylesheet" type="text/css" media="screen and (min-device-width: 481px)">
    <link href="{{ .Site.BaseURL }}css/iphone.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)">-->
</head>
